
li a:hover {
  border-bottom: 2px white solid;
  padding: 5px;
  transition: 0.1s;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.card img:hover {
  transition: .3s ease-out;
   transform: scale(1.125);
}