li a:hover {
    border-bottom: 2px white solid;
    padding: 5px;
    transition: 0.1s;
  }
.jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}